.checkout-page {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.selected-course {
    margin-bottom: 25rem;
}

@media screen and (max-width:768px) {
    .checkout-page {
        display: grid;
        grid-template-columns: 2fr;
    }

    .selected-course {
        margin-top: 60px;
        margin-bottom: 27rem;
    }

}